* {
    margin: 0; 
    padding: 0;
    font-family: montserrat, Arial, sans-serif
}
html{
    scroll-behavior: smooth;
}
header {
    width:100%;
    height: 578.2px;
}
header .header-top{
    width: 100%;
    height: auto;
    background: #EDE6E6;
    background: -moz-linear-gradient(top, #EDE6E6 0%, #ED7FAA 100%);
    background: -webkit-linear-gradient(top, #EDE6E6 0%, #ED7FAA 100%);
    background: linear-gradient(to bottom, #EDE6E6 0%, #ED7FAA 100%);
    padding-top: 20px;
}
header #header-logo{
    display: block;
    height: 100px;
    width: 400px;
    margin: 0 auto;
    /*display: inline-block;
    vertical-align: middle;
    height: 120px;
    padding: 12px 0 6px 0;
    margin: 0 30px ;*/
}
header #main-header{
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    font-style: italic;
    text-transform: uppercase;
    margin: 0 40px;
    display: block;
    height: 80px;
    /*vertical-align: middle;
    float: right;
    font-size: 20px;
    line-height: 120px;
    font-style: italic;
    text-transform: uppercase;
    margin: 0 40px;*/
}
header #header-about-image{
    width: 100%;
    height: 378.2px;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #732241;
    height: 45px;
    width: 100%;
    border-radius: 0 0 5px 5px;
}
nav ul li{
    display:inline-block;
}
nav ul li a{
    display: block;
    margin: 0 2px;
    padding: 10px 30px;
    transform: skew(-10deg);
    background-color: #732241;
    color: white;
}
nav ul li a span{
    display: block;
    transform: skew(10deg) !important;
    line-height: 25px;
    color: white;
    text-transform: uppercase;
}
nav ul li a{
    transition: background-color 0.15s linear;
}
nav ul li a{
    transition: background-color 0.15s linear;
}
nav ul li a:hover{
    background-color: #b36d88;
    text-shadow: 0px 0px 17px black;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(117, 75, 75, 0.43); 
    box-shadow: 0px 0px 10px 0px rgba(117, 75, 75, 0.43); 
}
nav ul li a:active{
    background-color: #2d111c
}
nav ul li a:visited span{
    text-decoration: underline;
    color:#ffcde0;
}
.information{
    display:block;
    margin: 4% auto;
    width:80%;
}
.information .table{
    display: flex;
    align-items: center;
    justify-content: center;
}
.information #information-glance-heading{
    display:block;
    text-align: center;
    font-size: 2em;
    letter-spacing: .1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1%;
}
.information #information-glance{
    display: block;
    margin: 0;
    text-align: center;
    width: 100%;
}
.information #information-glance-caption {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
    width:100%;
}
.information thead{
    width: 100%;
}
.information th{
    width: 25%;
    background-color:#601f39;
    color: white;
    height: 50px;
    border-radius: 5px;
}
.information tr{
    background-color:  #e7e7e7;
    transition: 0.1s;
}
.information td{
    width: 28%;
    width: 28%;
    padding: 20px;
}
.information tbody tr:hover{
    width: 28%;
    color: white !important;
    background-color:#aa5978 !important;
}
.information #information-glance-caption{
    display:block;
    text-align: center;
}
.welcome-paragraph {
    display: block;
    margin: 30px 0;
}
.welcome-paragraph h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15px;
}
.welcome-paragraph p{
    text-align: justify;
    margin-bottom: 7px;
}
.welcome-paragraph #welcome-paragraph-column1{
    display: inline-block;
    width: 48%;
    height: auto;
    vertical-align: top;
    padding: 5px;

}
.welcome-paragraph #welcome-paragraph-column2{
    display: inline-block;
    width: 49%;
    padding: 5px;
}
footer {
    display: block;
    width: 100%;
    height: auto;
    background: #ED7FAA;
    background: -moz-linear-gradient(top, #ED7FAA 0%, #EDE6E6 100%);
    background: -webkit-linear-gradient(top, #ED7FAA 0%, #EDE6E6 100%);
    background: linear-gradient(to bottom, #ED7FAA 0%, #EDE6E6 100%);
    border-top: 10px solid #2d111c;
    border-radius: 10px;
    padding-top: 20px;
}
#page-up {
    display:block;
    width: 110px;
    height: 110px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #732241;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: 0.1s;
    border-radius: 100%;
    z-index: 2;
    border: 3px solid white;
}
#page-up a{
    display: block;
    font-size: 0.8em;
    width: 110px;
    height: 110px;
    color: white;
    text-align: center;
    line-height: 110px;
    text-decoration: none;
    transition: 0.1s;
}
#page-up:hover{
    background-color: #aa5978;
    width: 120px;
    height: 120px;
    bottom: 20px;
    right: 20px;
    text-shadow: 0px 0px 17px black;
    -webkit-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.43); 
    box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.43);
}
#page-up:hover a{
    width: 120px;
    height: 120px;
    line-height: 120px;
    box-shadow: none;
}
footer img{
    display: block;
    padding: 0 30px;
    margin-top: 20px;
    width: auto;
    margin: 0 auto;
    bottom: 0;
}
footer p{
    color: black;
    text-align: center;
    padding: 20px 30px;
}
footer p a{
    text-decoration: none;
    color:#aa5978;
    text-align: right;
}