/* CSS HEX */
--cyclamen: #ED7FAAff;
--melon: #F0A99Dff;
--icterine: #FFFF80ff;
--black: #000000ff;
--black-2: #000000ff;

/* CSS HSL */
--cyclamen: hsla(337, 75%, 71%, 1);
--melon: hsla(9, 73%, 78%, 1);
--icterine: hsla(60, 100%, 75%, 1);
--black: hsla(0, 0%, 0%, 1);
--black-2: hsla(0, 0%, 0%, 1);

/* SCSS HEX */
$cyclamen: #ED7FAAff;
$melon: #F0A99Dff;
$icterine: #FFFF80ff;
$black: #000000ff;
$black-2: #000000ff;

/* SCSS HSL */
$cyclamen: hsla(337, 75%, 71%, 1);
$melon: hsla(9, 73%, 78%, 1);
$icterine: hsla(60, 100%, 75%, 1);
$black: hsla(0, 0%, 0%, 1);
$black-2: hsla(0, 0%, 0%, 1);

/* SCSS RGB */
$cyclamen: rgba(237, 127, 170, 1);
$melon: rgba(240, 169, 157, 1);
$icterine: rgba(255, 255, 128, 1);
$black: rgba(0, 0, 0, 1);
$black-2: rgba(0, 0, 0, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ED7FAAff, #F0A99Dff, #FFFF80ff, #000000ff, #000000ff);
$gradient-right: linear-gradient(90deg, #ED7FAAff, #F0A99Dff, #FFFF80ff, #000000ff, #000000ff);
$gradient-bottom: linear-gradient(180deg, #ED7FAAff, #F0A99Dff, #FFFF80ff, #000000ff, #000000ff);
$gradient-left: linear-gradient(270deg, #ED7FAAff, #F0A99Dff, #FFFF80ff, #000000ff, #000000ff);
$gradient-top-right: linear-gradient(45deg, #ED7FAAff, #F0A99Dff, #FFFF80ff, #000000ff, #000000ff);
$gradient-bottom-right: linear-gradient(135deg, #ED7FAAff, #F0A99Dff, #FFFF80ff, #000000ff, #000000ff);
$gradient-top-left: linear-gradient(225deg, #ED7FAAff, #F0A99Dff, #FFFF80ff, #000000ff, #000000ff);
$gradient-bottom-left: linear-gradient(315deg, #ED7FAAff, #F0A99Dff, #FFFF80ff, #000000ff, #000000ff);
$gradient-radial: radial-gradient(#ED7FAAff, #F0A99Dff, #FFFF80ff, #000000ff, #000000ff);