

* {
    margin: 0; 
    padding: 0;
    font-family: montserrat, Arial, sans-serif
}
html{
    scroll-behavior: smooth;
}
header {
    width: 100%;
    height: auto;
    background: #EDE6E6;
    background: -moz-linear-gradient(top, #EDE6E6 0%, #ED7FAA 100%);
    background: -webkit-linear-gradient(top, #EDE6E6 0%, #ED7FAA 100%);
    background: linear-gradient(to bottom, #EDE6E6 0%, #ED7FAA 100%);
    padding-top: 20px;
}
header #header-logo{
    display: block;
    height: 100px;
    width: 400px;
    margin: 0 auto;
    /*display: inline-block;
    vertical-align: middle;
    height: 120px;
    padding: 12px 0 6px 0;
    margin: 0 30px ;*/
}
header #main-header{
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    font-style: italic;
    text-transform: uppercase;
    margin: 0 40px;
    display: block;
    height: 80x;
    /*vertical-align: middle;
    float: right;
    font-size: 20px;
    line-height: 120px;
    font-style: italic;
    text-transform: uppercase;
    margin: 0 40px;*/
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #732241;
    height: 45px;
    width: 100%;
    border-radius: 0 0 5px 5px;
}
nav ul li{
    display:inline-block;
}
nav ul li a{
    display: block;
    margin: 0 2px;
    padding: 10px 30px;
    transform: skew(-10deg);
    background-color: #732241;
    color: white;
}
nav ul li a span{
    display: block;
    transform: skew(10deg) !important;
    line-height: 25px;
    color: white;
    text-transform: uppercase;
}
nav ul li a{
    transition: background-color 0.15s linear;
}
nav ul li a:hover{
    background-color: #b36d88;
    text-shadow: 0px 0px 17px black;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(117, 75, 75, 0.43); 
    box-shadow: 0px 0px 10px 0px rgba(117, 75, 75, 0.43); 
}
nav ul li a:active{
    background-color: #2d111c
}
nav ul li a:visited span{
    text-decoration: underline;
    color:#ffcde0;
}
footer {
    display: block;
    width: 100%;
    height: auto;
    background: #ED7FAA;
    background: -moz-linear-gradient(top, #ED7FAA 0%, #EDE6E6 100%);
    background: -webkit-linear-gradient(top, #ED7FAA 0%, #EDE6E6 100%);
    background: linear-gradient(to bottom, #ED7FAA 0%, #EDE6E6 100%);
    border-top: 10px solid #2d111c;
    border-radius: 10px;
    padding-top: 20px;
}
#page-up {
    display:block;
    width: 110px;
    height: 110px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #732241;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: 0.1s;
    border-radius: 100%;
    z-index: 2;
    border: 3px solid white;
}
#page-up a{
    display: block;
    font-size: 0.8em;
    width: 110px;
    height: 110px;
    color: white;
    text-align: center;
    line-height: 110px;
    text-decoration: none;
    transition: 0.1s;
}
#page-up:hover{
    background-color: #aa5978;
    width: 120px;
    height: 120px;
    bottom: 20px;
    right: 20px;
    text-shadow: 0px 0px 17px black;
    -webkit-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.43); 
    box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.43);
}
#page-up:hover a{
    width: 120px;
    height: 120px;
    line-height: 120px;
    box-shadow: none;
}
footer img{
    display: block;
    padding: 0 30px;
    margin-top: 20px;
    width: auto;
    margin: 0 auto;
}
footer p{
    color: black;
    text-align: center;
    padding: 20px 30px;
}
footer p a{
    text-decoration: none;
    color:#aa5978;
    text-align: right;
}