.content {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
.content h3 {
    font-size:1,5em;
    padding: 20px;
    font-style: italic;
}
.content ol > li{
    margin-left: 80px;
    padding: 2px;
    font-weight: bold;
}
.content ul > li{
    margin-left: 40px;
    padding: 2px;
    font-weight: normal;
}
span{
    color: #aa5978;
}